<div class="wrapper row5">
  <div id="copyright" class="clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">MYR Project 2015 developed by <a href="http://www.ensta-bretagne.eu/"  title="French Graduate and Post-graduate Engineering School and Research Institute based in Brest">ENSTA Bretagne</a></p>
 
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <p class="fl_middle"><a href=<%= contact_path%> title="Contact us">Contact |</a> <a href="<%= instructions_path %>"> Informations</a></p>
    <!-- ################################################################################################ --> 
  </div>
</div>
