
<%= form_for(:attempt) do |f| %>
  
   <%= f.hidden_field :id, value:@a.id %>
  <div class="field">
    <font color="blue">Upload area scanning xml/json file</font>
    <%= f.file_field :uploadxml %>
  </div>
 
  <div class="actions">
    <%= f.submit "Save"%>
  </div>
<% end %>
