<h1>Monitor Your Robot</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to Monitor Your Robot! Click on the link below to activate your account:
</p>

<%= link_to  edit_account_activation_url(@user.activation_token,email: @user.email), edit_account_activation_url(@user.activation_token, email: @user.email) %>
