<% provide(:title, "Contact") %>
<%= stylesheet_link_tag 'layout/styles/dataTables.css', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery.dataTables', 'data-turbolinks-track' => true %>

<h1>Members of the project</h1>
    
<table id="datatable-contact" class="dataTable display">
<thead>
  <tr>
    <th>Role</th>
    <th>Name</th>
    <th>Email Address</th>
	  <th>Social Network</th>
  </tr>
</thead>
	
  <tr>
	  <td>Programmer and Web Designer</td>
    <td>Benoit BOURDON</td>
    <td><A HREF='mailto:'>benoit.bourdon@ensta-bretagne.org</A></td>
    <td><center><a href='http://fr.linkedin.com/in/bourdonbenoit/en' title='Benoit BOURDON' target='_blank'><strong><img src='/linkedin.png'/></strong></a> </center></td>
	</tr>
	<tr>
    <td>Programmer and Web Designer</td>
    <td>Bastien DROUOT</td>
    <td><A HREF='mailto:'>bastien.drouot@ensta-bretagne.org</A></td>
    <td><center><a href='http://fr.linkedin.com/pub/bastien-drouot/9a/306/46' title='Bastien DROUOT' target='_blank'><strong><img src='/linkedin.png'/></strong></a> </center></td>
	</tr>
  <tr>
    <td>Professor</td>
    <td>Olivier REYNET</td>
    <td><A HREF='mailto:'>olivier.reynet@ensta-bretagne.fr</A></td>
    <td></td>
  </tr>
	<tr>
    <td>Electronics Engineer</td>
    <td>Quentin DESCOURS</td>
    <td><A HREF='mailto:'>quentin.descours@ensta-bretagne.org</A></td>
    <td></td>
    </tr>
  <tr>
    <td>Electronics Engineer</td>
    <td>Mouad BICHOUARINE</td>
    <td><A HREF='mailto:'>mouad.bichouarine@ensta-bretagne.org</A></td>
    <td></td>
  </tr>
  <tr>
    <td>Electronics Engineer</td>
    <td>Jean-Jacques BOYE</td>
    <td><A HREF='mailto:'>jean-jacques@ensta-bretagne.org</A></td>
    <td><center><a href='http://fr.linkedin.com/in/jeanjacquesboye/en' title='Jean-Jacques BOYE' target='_blank'><strong><img src='/linkedin.png'/></strong></a> </center></td>
	</tr>
	<tr>
    <td>Electronics Engineer</td>
    <td>Simon STEPHAN</td>
    <td><A HREF='mailto:'>simon.stephan@ensta-bretagne.org</A></td>
    <td></td>
  </tr>
	<tr>
    <td>Professor</td>
    <td>Jean-Christophe LE LANN</td>
    <td><A HREF='mailto:'>jean-christophe.le_lann@ensta-bretagne.fr</A></td>
    <td></td>
  </tr>
</table>

<script>
 $(document).ready( function () {
    $('#datatable-contact').DataTable({
			paging: true
			
		});
} );
</script>
