
<!--
Template Name: Cortex
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->

<% provide(:title, "WRSC Tracking ") %>
<body id="top">
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->

<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper bgded" style="background-image:url(/stylesheets/images/demo/backgrounds/logo2018.svg);background-size: 100% 100%;">
<!--div class="wrapper bgded" style="background-image:url(/stylesheets/images/demo/backgrounds/WRSCIRSC2017.png);"-->

	<div id="announce" class="clear"> 
	<!-- ########################################################################################## -->
	<div class="one_quarter first"><a href="<%= real_time_path%>"> <!--real time-->
	  <div class="hexagon" ><i class="icon-play-sign"></i>
		<p class="nospace"><strong>Real Time</strong><br>Click here to follow the WRSC when it is live</p>
	  </div>
	</a></div>
	<div class="one_quarter"><a href="<%= replay_path%>"> <!--replay-->
	  <div class="hexagon"><i class="icon-calendar"></i>
		<p class="nospace"><strong>Replay</strong><br>Click here to replay an event of the WRSC</p>
	  </div>
	</a></div>
  <div class="one_quarter"><a href="/map"> <!--replay-->
    <div class="hexagon"><i class="icon-map-marker"></i>
    <p class="nospace"><strong>Markers</strong><br>Click here to see the next WRSC contests markers</p>
    </div>
  </a></div>
  <div class="one_quarter"><a href="<%=signin_path%>"> <!--sign in up-->
    <div class="hexagon"><i class="icon-anchor"></i>
    <p class="nospace"><strong>Login or Sign Up</strong><br>If you are a competitor you can create an account to add/join your team</p>
    </div>
  </a></div>
	<!-- ########################################################################################## --> 
  </div>

</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main id="container" class="clear"> 
    <!-- container body --> 
    <!-- ########################################################################################## -->
    <div class="clear center">
      <div class="one_quarter">
        <div><a href="http://www.zjsports.gov.cn/"><img class="imgSponsorLogo" src= /stylesheets/images/2019/zhejiangsport.png ></div>
        <p> </p>
        <br />
        <h2 class="nospace push15 uppercase"><strong>Host Orgnisation</strong></h2></a>
        <p>  </p>
        </div>
      <div class="one_quarter first">
        <div><a href="http://www.zju.edu.cn/english/"><img class="imgSponsorLogo" src= /stylesheets/images/2019/zhejiangU.jpg ></div>
        <p> </p>
        <p> </p>
        <h2 class="nospace push15 uppercase"><strong>Host Institution</strong></h2></a>
        <p> </p>
      </div>
      <div class="one_quarter">
        <div><a href="http://english.ningbo.gov.cn/"><img class="imgSponsorLogo" src= /stylesheets/images/2019/ningbo_gov.png ></div>
        <h2 class="nospace push15 uppercase"><strong>Co-Host Orgnisation</strong></h2></a>
        <p> </p>
      </div>
    <div class="one_quarter">
        <div class="boxedicon"><a href="https://www.roboticsailing.org/"><img class="imgSponsorLogo" src= /stylesheets/images/default/Logo_WRSC.jpg ></div>
        <h2 class="nospace push15 uppercase"><strong>WRSC</strong></h2></a>
        <p>All editions of the World Robotic Sailing Championship</p>
      </div>
    </div>
	
    <!-- ########################################################################################## --> 
    <!-- / container body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="clear"> 
    <!-- ################################################################################################ -->
    <div>
      <h6 class="title">Monitor Your Boat</h6>
      <p>This page provides real-time tracking, historical race replaying, and marker position displaying for the competition. 
       To monitor your robot on this page, please register your team and collect a GPS tracker before each challenge. If you need any help please check 
       the <a href="<%= instructions_path %>" style="text-decoration:underline;"</p>
       instructions</a> page or speak to someone in the race committee. </p><br>
	  <h6 class="title">What is the WRSC ?</h6>
      <p>WRSC stands for the World Robotic Sailing Championship, an international competition aimed to facilitate the research and development of sailing robots. To know more about the competition, please check the <a href="https://www.roboticsailing.org/2019/" style="text-decoration:underline;"</p>
      event website</a> and the <a href="https://www.roboticsailing.org/" style="text-decoration:underline;"</p>
      competition website</a>.  </p><br>
    </div>
    <div>

<!-- 
      <h6 class="title">Lorem ipsum dolor</h6>
      <address class="push30">
      Company Name<br>
      Street Name &amp; Number<br>
      Town<br>
      Postcode/Zip
      </address>
      <ul class="nospace">
        <li class="push10"><i class="icon-time"></i> Mon. - Fri. 9:00am - 7:00pm</li>
        <li class="push10"><i class="icon-phone"></i> +00 (123) 456 7890</li>
        <li><i class="icon-envelope-alt"></i> info@domain.com</li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Lorem ipsum dolor</h6>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="icon-facebook"></i></a></li>
        <li><a class="faicon-pinterest" href="#"><i class="icon-pinterest"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="icon-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="icon-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="icon-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="icon-google-plus"></i></a></li>
        <li><a class="faicon-skype" href="#"><i class="icon-skype"></i></a></li>
        <li><a class="faicon-rss" href="#"><i class="icon-rss"></i></a></li>
        <li><a class="faicon-bitcoin" href="#"><i class="icon-bitcoin"></i></a></li>
        <li><a class="faicon-dropbox" href="#"><i class="icon-dropbox"></i></a></li>
        <li><a class="faicon-flickr" href="#"><i class="icon-flickr"></i></a></li>
        <li><a class="faicon-instagram" href="#"><i class="icon-instagram"></i></a></li>
        <li><a class="faicon-tumblr" href="#"><i class="icon-tumblr"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="icon-vk"></i></a></li>
        <li><a class="faicon-youtube" href="#"><i class="icon-youtube"></i></a></li>
      </ul>
    </div> -->
    <!-- ################################################################################################ --> 
  </footer>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->

</body>

