<% provide(:title, "Coordinates | Edit") %>
<h1>Editing Coordinate</h1>

<% if is_admin? %>

	<%= render 'form' %>

<% else %>

	<h2> You cannot access this page </h2>

<% end %>
<%= link_to 'Show', @coordinate %> |
<%= link_to 'Back to index', coordinates_path %>
