<% provide(:title, "Coordinates | New") %>
<h1>New Coordinate</h1>

<% if is_admin? %>

	<%= render 'form' %>

<% else %>

	<h2> You cannot access this page </h2>

<% end %>

<%= link_to 'Back to index', coordinates_path %>
