<h1>Options available</h1>
<input type="checkbox" name="autoRefreshCheckBox" id="aRCB"><b>Auto refresh</b>
<br>
<input type="checkbox" name="displayBuoys" id="dispBuoys"><b>Display the mission's markers</b>