<% m= Mission.find(@current_mission_id) %>
<p>Mission selected started at <%=m.start%> and ends at <%=m.end%></p>
<p>Description: <%= m.mtype %></p>
<button id="getNewTrackers" type="button">Get trackers</button> 
<button id="getNewCoordinates" type="button">Get coordinates</button> 