<% m= Mission.find(@current_mission_id) %>
<p>Mission selected started at <%=m.start%> and ends at <%=m.end%>
	<% if m.description != ""%>
		<br>
		<p>Description: <%= m.description %></p>
	<% end %>
</p>
<button id="getNewTrackers" type="button">Get trackers</button> 
<button id="getNewCoordinates" type="button">Get coordinates</button> 