<% m= Mission.find(@current_mission_id) %>
<p>Mission selected started at <%=m.start%> and ends at <%=m.end%></p>
<p>Description: <%= m.mtype %></p>
<p><button id="requestRefresh" type="button">Refresh or load data</button></p>
