
<head>
	<%= javascript_include_tag 'real_time', 'data-turbolinks-track' => true %>
</head>

	<style type="text/css">
		#map_frame_container{
			margin-left:10px;
			margin-top: 10px;
		}
	</style>

	<div id="above_the_map">
</div>

	<div id="map_frame_container" style='width: 99%; height: 93%'>
		<div id="map-container" class="two_third first" style='height: 100%'>
			<div id="map-canvas"></div>
		</div>
		<style>
		.gm-style img { max-width: none; }
		.gm-style label { width: auto; display: inline; }
		</style>
		
		<div class="one_third" style='height: 100%'>
			
			<button id="choose_teams" type="button">Select a team</button> 
			<div id="choice_teams"></div>
			<br>
			<button id="choose_robots" type="button">Select a Robot</button>
			<div id="choice_robots"></div>
			<br>
			<button id="refresh-panel" type="button">Update</button>
			<div id="map-panel"></div>
			
			
			<button id="getNewTrackers" type="button">Get trackers</button> 
			<button id="getNewCoordinates" type="button">Get coordinates</button> 
		</div>
	</div> 

