<head>
	<%= javascript_include_tag 'Real_time/real_time', 'data-turbolinks-track' => true %>
	<% provide(:title, "Real Time Map") %>
</head>

	<style type="text/css">
		#map_frame_container{
			margin-left:10px;
			margin-top: 10px;
		}
	</style>

	<div id="above_the_map"></div>

<!------------------- google map container-------------------------------->
	<div id="map_frame_container" style='width: 99%; height: 93%'>
		<div id="map-container" class="two_third first" style='height: 100%'>
			<div id="map-canvas"></div>
		</div>
		<style>
		.gm-style img { max-width: none; }
		.gm-style label { width: auto; display: inline; }
		</style>
		

<!----------------------sidebar of google map-------------------------------->
		<div class="one_third" style='height: 100%;overflow:scroll'>

			<div id="map-panel">
				<%= render('map_panel') %>
			</div>

			<div id="mission-details"></div>

			<p><button id="requestRefresh" type="button" style="display: none">
				Refresh or load data
			</button></p>

			<div id="trackersAndCoordis"></div>

			<div id="robots-panel"></div>

			<div id="options-panel">
				<%= render('options_panel') %>
			</div>
		</div>
	</div> 
