<p><b><u>Select attempts:</u></b></p>
<% attempts = Mission.find(@strmissions).attempts %>


<select name="mission" id="dropdown">
<option></option>
<% for i in 1..attempts.size %>
  <option value="<%= Attempt.find(i).id %>"><%= Attempt.find(i).name %></option>
<% end %>
</select>
