<br>
<img src="/step/step3F.png" height="50" width="150">

<p><b><u>Select datetimes:</u></b></p>
<b>Start:</b></br>
<div id="select_datetimes">
	<%= select_datetime(Time.now.utc - 1.hours, prefix: 'start') %>
</div>
<br><b>End:</b></br>
<%= select_datetime(Time.now.utc, prefix: 'end') %>
<br></br>
<button id="updatebutton" type="button">UPDATE</button></br>

<FONT size = 1>Longer is the selected time span, fewer are the displayed points for a given period.</FONT>

