<% if @attempts[0]!="0"%>
<br>
<button id="updatebutton" type="button">UPDATE</button>

<div><i> You can click on a boat to see the description of its team.</i></div>
<div><i> You can click on the small square dots to display the corresponding datetime.</i></div>
<% else %>
<% end %>

