
<head>
	<%= javascript_include_tag 'Replay/replay', 'data-turbolinks-track' => true %>
	<% provide(:title, "Replay") %>
</head>

	<div id="above_the_map"></div>

	<style type="text/css">
		#map_frame_container{
			margin-left:10px;
			margin-top: 10px;
		}
	</style>
	
	<div id="map_frame_container" style='width: 98%; height: 70%'>
		<div id="map-container" class="two_third" style='height: 100%'>
			<div id="map-canvas"></div>
		</div>
		<!----------------------Start Side Panel------------------>
		<div class="one_third" style='height: 100%;overflow:scroll'>
			<div id="missions-panel">
				<%= render('missions_panel') %>
			</div>

			<div id="attempts-panel">
				<%= render('attempts_panel') %>
			</div>

			<button id="updatebutton" type="button">Update</button>

			<hr/>

			<p>These functions below work only when one robot is selected. It will not work properly if you use them with 2 or more robots selected.</p>
			<p><b>Buoys:</b></p>
			<input type="checkbox" name="display-official-markers" > &nbsp Display Official Buoys</input>

			<p><b>Options:</b></p>
			<input type="checkbox" name="display-info_windows" id="disp_info"> &nbsp Display Information Windows (an information window will appear when clicking for 10 % of the coordinates)</input>
			<br>
			<input type="checkbox" name="replay-from-begin" id="do_replay"> &nbsp Watch the replay from the beginning (adding 10 coordinates every 5 seconds)</input>
			

		</div>
		<!--------------------End of Side Panel-------------------->
		<style>
			.gm-style img { max-width: none; }
			.gm-style label { width: auto; display: inline; }
		</style>
				 
	</div>
	
	<div  class="one_third" style='height: 100%'>
		<div id="choice_teams"></div>
	</div>
		
	<div class="one_third">
		<div id="choice_robots"></div>
	</div>
	
	<div class="one_third" >
		<div id="onerobot"></div>
		<div id="replay_map-panel"></div>
	</div>
	<style>
		.one_third{
			margin-left:10px;
		}
		#choice_teams{
			margin-left:50px;
		}
		#choice_editions{
			margin-left:50px;
		}
	</style>
	
