
Name &nbsp; <select>
	<option value="0"></option>
  <option value="1">First Buoy</option>
  <option value="2">Second Buoy</option>
  <option value="3">Third Buoy</option>
  <option value="4">Fouth Buoy</option>
</select> <br />

