<% provide(:title, "Markers | New") %>
<head>
	<%= javascript_include_tag 'Markers/markersCreation', 'data-turbolinks-track' => true %>
</head>

<style type="text/css">
	#map_frame_container{
		margin-left:10px;
		margin-top: 10px;
	}
	.gm-style img { max-width: none; }
	.gm-style label { width: auto; display: inline; }
</style>

<div id="above_the_map"></div>
<!------------------- google map container-------------------------------->
	<div id="map_frame_container" style='width: 99%; height: 93%'>
		<div id="map-container" class="two_third first" style='height: 100%'>
			<div id="map-canvas"></div>
		</div>
	
		<div id="select-mission">	
			<div id="select-mission">
				<p><b><u>Select a mission</u></b></p>
<!--Do not need to display all the missions, just display the mission in a year, which means Time.now - 6 month ~Time.now + 6 month-->			
				<select name="mission" id="marker_missions_dropdown">
					<option value="0"></option>
					<% for i in 0..(@missions.size-1)%>
  					<option value="<%= @missions[i].id %>"><%= @missions[i].name %></option>
					<% end %>
				</select><br />
				<font size = 1>It just display all the missions in one year, which means <br /> from now - 6 monthes to now + 6 monthes </font>
			</div>
		</div>
		
		<div id="markers-zone">
			<p><b><u>Add Markers:</u></b></p>
<!--------------------Points-------------------------->			
			<button id="AddBuoy" type="button">Add a Boil</button> <br /><br />
			<input type="image" id="buoy-fix" src="/icons/buoy_fix.png" alt="fix buoy image" height="42" width="42" title="add fix buoy" />
			<input type="image" id="buoy-draggable" src="/icons/buoy_draggable.png" alt="draggable buoy image" height="42" width="42" title="add draggable buoy" />
			<br />
<!----------------------Lines------------------------->
			<button id="AddLine" type="button">Add a start / end line</button> <br /><br />
			<input type="image" id="polyline-fix" src="/icons/polyline.png" alt="polyline" height="42" width="42" title="polyline" />
			<input type="image" id="polyline-custom" src="/icons/polyline.png" alt="polyline" height="42" width="42" title="polyline" /><br />
<!----------------------Polygons----------------------------->			
			<button id="AddPolygon" type="button">Add a Polygon</button> 
		</div>
		<br />
		<div id="submit-markers">
			<button id="SaveAllMarkers" type="button">SaveAllMarkers</button> <br /><br />	
		</div>
		
		<div id="map-canvas"></div>
</div>
