<% provide(:title, "Reset Your Password | checking your email address")%>
<h1>Forgot password</h1>


<p><center> We’ve sent you an email containing a link that will allow you to reset your password for the next 2 hours.</center><br>
<center>Please check your spam folder if the email doesn’t appear within a few minutes.</center> </p>
Back to <%= link_to 'Sign in', signin_path %> 
