<% provide(:title, "Trackers | Edit") %>
<h1>Editing Tracker</h1>

<% if is_admin? %>

	<%= render 'form' %>

	<%= link_to 'Show', @tracker %> |

	<%= link_to 'Back to index', trackers_path %>

<% else %>

	<h2> You do not have the rights to see the content of this page. </h2>

<% end %>
