<!DOCTYPE html>
<html>
	<head>
		<title>	This is a test for REYNET2</title>
	</head>
	<body id="top">
		
			Quesque l'on dit? :<%= data["bonjour"] %>
			Le background est : <%= data["CSS"] %>
			Le CSS ce trouve dans: <%= data["ppppp"]["back_ground"] %>
		</div>
	</body>
</html>