<% provide(:title, "Error 500") %>

<h1>Error 500</h1>
<p>An internal server error was raised. Check that you are doing the appropriate things, try again and if it fails again contact an administrator.</p>
