<% provide(:title, "Error 422") %>

<h1>Error 422</h1>
<p>An unprocessable error was raised. Check that you are doing the appropriate things, try again and if it fails again contact an administrator.</p>
