<% provide(:title, "Teams | Edit") %>
<h1>Editing Team</h1>

<% if sign_in? && (is_admin? || is_leader(@team.name) %>

<%= render 'form' %>

<%= link_to 'Show', @team %> | <%= link_to 'Delete', @team, method: :delete, data: { confirm: 'Are you sure do delete your team ? This action will also delete all the boats attached to this team.' } %> | 

<% else %>
	<h2> You cannot access this page. You need to be a Team Leader to access it.</h2>

<% end %>

<%= link_to 'Back', teams_path %>
