<!DOCTYPE html>
<html>
<head>
	<%= javascript_include_tag 'markersCreation', 'data-turbolinks-track' => true %>
</head>
<body>
	<button id="AddBoil" type="button">Add a Boil</button> 
	<button id="AddLine" type="button">Add a start / end line</button> 
	<button id="AddPolygon" type="button">Add a Polygon</button> 
	<div id="map-canvas"></div>
</body>
</html>