<!-- this view was made only for testing -->
<%= javascript_include_tag 'score', 'data-turbolinks-track' => true %>

<% provide(:title, "Scores | New") %>

<h1>New Score</h1>

<div>
	<p>Choose A Mission</p>
	<select id="score_missions_dropdown">
		<option value="0"></option>
		<% ms=Mission.all%>
		<% ms.each do |m|%>
			<option value="<%= m.id %>"><%= m.id.to_s+' '+m.name%></option>
		<% end %>
	</select>  
</div>

<div id="score_attempt_dropdown"></div>
<div id="score-new-info"></div>




