
<h1>Activate Your Account</h1>


<p><center> We’ve sent you an email containing a link that will allow you to activate your account.
<center>Please check your spam folder if the email doesn’t appear within a few minutes.</center> </p>
Back to <%= link_to 'Sign in', signin_path %> 
